@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: beige;
}

header{
    
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 50px;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:  rgb(150, 68, 68);
    text-transform: uppercase;
}

.hero{
    display: flex;
    width: 100%;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
    
}

.fatos{
    display: flex;
    width: 100%;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}


.box-img{
    display: flex;
    max-width: 35%;
    height: 80%;
    /* border:1px solid blue; */
    justify-content: center;
    align-items: center;
    
    
}

.box-text{
    display: flex;
    width: 40%;
    height: 400px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    flex-flow: row wrap;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
  
   
}

.box-text h2{
    font-size: 50px;
    color: rgb(150, 68, 68);
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    
}

.box-text p{
    font-size: 22px;
    color: rgb(54, 60, 58);
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.btn-hero{
    background: rgb(150, 68, 68);
    padding: 10px 30px;
    text-decoration: none;
    color: beige;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    align-self: center;
    margin-bottom: 15px;
    font-weight: 700;
    

}

.btn-hero:hover{
    background: rgb(150, 68, 68);
    color: beige;
    transform: scale(1.1);
} 

.box-item{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    width: 30%;
    height: 300px;
    background: rgb(150, 68, 68);
    margin: 10px;
    border-radius: 15px;
    padding: 30px 20px;
    color: beige;
}

.box-item h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: beige;
    text-align: center;
    margin-bottom: 40x;
}

footer{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 68, 68);
    margin-top: 100px;
    color: beige
}

.whats{
    position: fixed;
    right: 2px;
    bottom: 2px;    
}

.heroi{
    display: flex;
    width: 100%;
    height: 100%;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
}

.box-img-foto{
    display: grid;
    max-width: 50%;
    height: 80%;
    /* border:1px solid blue; */
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    row-gap: 30px;
    margin-left: 75px;
}

.voltar{
    display: flex;
    width: 100%;
    height: 100%;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
}

.btn-voltar{
    display: flex;
    background: rgb(150, 68, 68);
    padding: 10px 30px;
    text-decoration: none;
    color: beige;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    align-self: center;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 30px;
}

.btn-voltar:hover{
    background: rgb(150, 68, 68);
    color: beige;
    transform: scale(1.1);
}

.btn-item{
    background: beige;
    padding: 5px 15px;
    text-decoration: none;
    color: rgb(150, 68, 68);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    align-self: center;
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    display: flex;
}

.texto{
    display: flex;
    width: 75%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color: beige;
    background-color: rgb(150, 68, 68);
    border-radius: 15px;
}

.texto p{
    text-align: left;
    margin-left: 30px;
    font-size: 20px;
    
}

.box-img-foto2 {
    display: grid;
    max-width: 70%;
    height: 80%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    row-gap: 30px;
    margin: 100px 510px;
}


.voltar2{
    display: flex;
    width: 100%;
    height: 100%;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
    margin-bottom: 200px;
    align-self: center;
}

.btn-voltar2{
    display: flex;
    background: rgb(150, 68, 68);
    padding: 20px 60px;
    text-decoration: none;
    color: beige;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    align-self: center;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-top: 30px;
    
}

.btn-voltar2:hover{
    background: rgb(150, 68, 68);
    color: beige;
    transform: scale(1.1);
}


.footer2 {
    display: flex;
    width: 100%; /* ocupar 100% da largura */
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 68, 68);
    margin-top: 100px;
    color: beige;
}